{% extends "::base.html.twig" %}

{% block title %}AddressBookBundle:Address:addAddress{% endblock %}

{% block body %}
<h1>Welcome to the Address:addAddress page</h1>
    Dodano adres uzytkownikowi! ...wkoncu
    <a href="{{ path('addressbook_user_showall') }}">Wroc do strony glownej</a>

{% endblock %}
